.logo{
    width:1rem;
    height:1rem;
    border-radius: 100%;
}

.body{
  color:rgb(48, 191, 191);
}
.heading{
 
  color:#211055;
}

.size{
  width:18px;
}

.deal{
  background-color: #673de6;
  width:291px;
  height:60px;
  border-radius:4px ;
  border-color: aliceblue;
  box-shadow: 0 1px 8px rgba(0,0,0,.16);
  cursor: pointer;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  transition: .3s ease-in-out;
  transition-property: color,width,background-color;
  font-family: "DM Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;

}

.content{
  margin-left: 100px;
  position: absolute;
}


.h-nav[data-v-83686de8] {
  align-items: flex-start;
  background: 0 0;
  display: flex;
  max-width: 100%;
  position: absolute;
  width: 100vw;
  z-index: 99;
}

.rightbox{
  display:flex;
  margin:12px;
}

nav{
  font-size : 12px;
  padding-top: 14px ;
}

nav ul li {
  list-style : none;
  padding: 0 12px ;
}
.space-between{
  justify-content: space-between;
}

.box{
  width: 10px;
  height: 10px;
  display: flex;
}

.flex{
  display: flex;
  margin-left:10px;
}

.flex1{
  display:inline-flex;
justify-content: center;
  margin-left:10px;
  width: 10px;
  height: 10px;
}

.time{
  justify-content: center;

}

.text{
  font-size:15px;
  font-style: normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.america
{
  width:25px;
  height:25px;
}
.image{
  display: flex;
  width: 700px;
}
.girl{
  position: relative;
  display: inline-flex;
  margin-left:600px;
  margin-top:100px;
  
}

.login{
  color:black;
  background-color: #d2caeb;
}
